<div style="margin: auto; padding: 2%; text-decoration: underline;">
    <h1>Configure new IDS</h1>
</div>

<div class="grid-container">
    <form [formGroup]="idsForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-content class="mat-elevation-z8">

                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Target host</mat-label>
                            <input matInput value="localhost" readonly="" required [formControl]="idsForm.controls.host">
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Configuration</mat-label>
                            <mat-select [formControl]="idsForm.controls.config" required>
                                <mat-option *ngFor="let c of configurations" value={{c.id}}>{{c.id}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>IDS Tool</mat-label>
                            <mat-select [formControl]="idsForm.controls.idsTool" required>
                                <mat-option *ngFor="let ids of idsTools" value={{ids.id}}>{{ids.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput [formControl]="idsForm.controls.description" required></textarea>
                        </mat-form-field>
                    </div>
            </mat-card-content>
        </mat-card>
        <div class="submit-button-div">
            <button type="submit" class="custom-button mat-elevation-z8" mat-flat-button
                color="primary">submit</button>
        </div>
    </form>
</div>