<div class="component-header-div">
    <h1>Configure new IDS or Ensemble</h1>
</div>
<div *ngIf="userChoice !== ''" class="grid-container-setup-choice">
    <button color="accent" mat-flat-button (click)="setUserChoice('')">back</button>
</div>
<div class="grid-container-setup-choice" *ngIf="userChoice === ''">
    <div class="grid-item">
        <mat-card (click)="setUserChoice('ensemble')">
            <mat-card-content class="mat-elevation-z8">
                Ensemble
            </mat-card-content>
        </mat-card>
    </div>
    <div class="grid-item">
        <mat-card (click)="setUserChoice('ids')">
            <mat-card-content class="mat-elevation-z8">
                IDS
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div class="grid-container" *ngIf="userChoice === 'ensemble'">
    <form [formGroup]="ensembleForm" (ngSubmit)="onEnsembleSubmit()">
        <mat-card>
            <mat-card-content class="mat-elevation-z8">
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput required [formControl]="ensembleForm.controls.name">
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Technique</mat-label>
                            <mat-select [formControl]="ensembleForm.controls.technique" required>
                                <mat-option *ngFor="let t of ensembleTechniques" value={{t.id}}>{{t.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>IDS Container</mat-label>
                            <mat-select [formControl]="ensembleForm.controls.containers" required multiple>
                                <mat-option *ngFor="let c of containers" value={{c.id}}>{{c.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput [formControl]="ensembleForm.controls.description" required></textarea>
                        </mat-form-field>
                    </div>
            </mat-card-content>
        </mat-card>
        <div class="submit-button-div">
            <button type="submit" class="custom-button mat-elevation-z8" mat-flat-button
                color="primary">Submit</button>
        </div>
    </form>


</div>

<div class="grid-container" *ngIf="userChoice === 'ids'">
    <form [formGroup]="idsForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-content class="mat-elevation-z8">

                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Target host</mat-label>
                            <input matInput value="localhost" readonly="" required [formControl]="idsForm.controls.host">
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Configuration</mat-label>
                            <mat-select [formControl]="idsForm.controls.config" required>
                                <mat-option *ngFor="let c of idsConfigs" value={{c.id}}>ID: {{c.id}} - {{c.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>IDS Tool</mat-label>
                            <mat-select [formControl]="idsForm.controls.idsTool" required>
                                <mat-option *ngFor="let ids of idsTools" value={{ids.id}}>{{ids.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="grid-item">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput [formControl]="idsForm.controls.description" required></textarea>
                        </mat-form-field>
                    </div>
            </mat-card-content>
        </mat-card>
        <div class="submit-button-div">
            <button type="submit" class="custom-button mat-elevation-z8" mat-flat-button
                color="primary">Submit</button>
        </div>
    </form>
</div>