:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


.grid-container{
    display: grid;
    row-gap: 7%;
    column-gap: 5%;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: auto
}

.grid-item {
    justify-content: center;
    padding: 1%;
  }


.action-button{
  margin: 1%;
  border-radius: 20px;
}

.grid-item-first-row{
  grid-column: 1/-1;
  padding-bottom: 5%;
}

.config-button-div{
  margin: auto;
  padding-bottom: 5%;
}

.panel-grid-div{
  display: grid;
  grid-template-columns: auto;
  row-gap: 5%;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.panel-grid-item{
  margin: 10%;
  padding: 2%;
  width: 100%;
}

