<app-alert-component></app-alert-component>
<div class="component-header-div">
  <button matButton class="new-config-button moving-hover-button" (click)="newConfig()">New Config</button>
</div>
<div class="panel-flexbox-div">
  <div class ="expansion-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Configurations
      </mat-panel-title>
      <mat-panel-description>
        Configurations for the IDS
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-panel-flexbox-container" >
      @for (configuration of configurationList; track configuration) {
        <div class="flexbox-item">
          @if (configuration.file_type === fileTypeDict.configuration) {
            <mat-card class="mat-card">
              <mat-card-header>
                <mat-card-title>
                  <span class="mat-card-title-text">{{configuration.name}}</span>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="info-row">
                  <strong>ID:</strong> <span>{{configuration.id}}</span>
                </div>
                <div class="info-row">
                  <strong>Description:</strong> <span>{{configuration.description}}</span>
                </div>
                <div class="info-row">
                  <strong>File Type:</strong> <span>{{configuration.file_type}}</span>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button class="options-button" matButton="filled">Details</button>
                <button class="danger-button"  (click)="removeConfiguration(configuration)"  matButton="filled">Remove</button>
              </mat-card-actions>
            </mat-card>
          }
        </div>
      }
    </div>
  </mat-expansion-panel>
  </div>
  <div class="expansion-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rulesets
      </mat-panel-title>
      <mat-panel-description>
        Rulesets for signature based IDS
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-panel-flexbox-container" >
      @for (configuration of configurationList; track configuration) {
        <div class="flexbox-item" class="mat-elevation-z8">
          @if (configuration.file_type === fileTypeDict.ruleSet) {
            <mat-card class="mat-card">
              <mat-card-header>
                <mat-card-title>
                  <span class="mat-card-title-text">{{configuration.name}}</span>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="info-row">
                  <strong>ID:</strong> <span>{{configuration.id}}</span>
                </div>
                <div class="info-row">
                  <strong>Description:</strong> <span>{{configuration.description}}</span>
                </div>
                <div class="info-row">
                  <strong>File Type:</strong> <span>{{configuration.file_type}}</span>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button class="options-button" matButton="filled">Details</button>
                <button class="danger-button"  (click)="removeConfiguration(configuration)"  matButton="filled">Remove</button>
              </mat-card-actions>
            </mat-card>
          }
        </div>
      }
    </div>
  </mat-expansion-panel>
  </div>
  <div class="expansion-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datasets
      </mat-panel-title>
      <mat-panel-description>
        Datasets for static analysis
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-panel-flexbox-container" >
      @for (dataset of datasetList; track dataset) {
        <div class="flexbox-item" class="mat-elevation-z8">
          <mat-card class="mat-card elevation3">
            <mat-card-header>
              <mat-card-title>
                  <span class="mat-card-title-text">{{dataset.name}}</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="info-row">
                  <strong>ID:</strong> <span>{{dataset.id}}</span>
                </div>
                <div class="info-row">
                  <strong>Description:</strong> <span>{{dataset.description}}</span>
                </div>
                <div class="info-row">
                  <strong>Bening Requests:</strong> <span>{{dataset.ammount_benign}}</span>
                </div>
                <div class="info-row">
                  <strong>Malicious Requests:</strong> <span>{{dataset.ammount_malicious}}</span>
                </div>
                <div class="info-row">
                  <strong>Dataset Type:</strong> <span>{{getDatasetTypeName(dataset.dataset_type_id)}}</span>
                </div>
                <div class="info-row">
                  <strong>Timestamp Precision:</strong> <span>{{dataset.timestamp_precision}}</span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button class="options-button" matButton="filled">Details</button>
                <button class="danger-button"  (click)="removeDataset(dataset)"  matButton="filled">Remove</button>
            </mat-card-actions>
          </mat-card>
        </div>
      }
    </div>
  </mat-expansion-panel>
  </div>
</div>