<div class="component-header-div">
    <h1> Overview on existing configurations </h1>
</div>
<div class="config-button-div">
    <button class="mat-elevation-z8 grid-item-first-row" color="primary" mat-flat-button (click)="newConfig()">New configuration</button>
</div>
<div class="grid-container" >
    <div class="grid-item" *ngFor="let configuration of configurationList" class="mat-elevation-z8"> 
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{configuration.name}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>ID: {{configuration.id}} </div>
                <div>Description: {{configuration.description}} </div>
                <div>File type: {{configuration.file_type}} </div>
            </mat-card-content>
            <mat-card-actions>
                <button class="action-button" color="accent"  mat-flat-button>Details</button>
                <button class="action-button" color="warn" (click)="remove(configuration)"  mat-flat-button>Remove</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
