
<div>
  <mat-dialog-content>
    <form [formGroup]="ensembleEdit">
      <div class="form-item">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input [formControl]="ensembleEdit.controls.name" matInput value={{data.ensemble.name}} required>
        </mat-form-field>
      </div>
      <div class="form-item">
        <mat-form-field>
          <mat-label>Container</mat-label>
          <mat-select [formControl]="ensembleEdit.controls.idsContainer" required multiple>
            @for (c of data.containerList; track c) {
              <mat-option value={{c.id}}>{{c.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-item">
        <mat-form-field>
          <mat-label>Ensemble Technique</mat-label>
          <mat-select [formControl]="ensembleEdit.controls.ensembleTechnique" required>
            @for (t of data.ensembleTechniqueList; track t) {
              <mat-option value={{t.id}}>{{t.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-item">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput [formControl]="ensembleEdit.controls.description" required></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="dialog-actions-div">
      <button (click)="save()" class="success-button" matButton="filled"
      >Save</button>
      <button (click)="exit()" class="danger-button" matButton="filled"
      >Cancel</button>
    </div>

  </mat-dialog-actions>
</div>