.flexbox-container{
    display: flexbox;
    row-gap: 0%;
    column-gap: 5%;
    flexbox-template-columns: auto;
    justify-content: center;
    margin: auto
}

.flexbox-item {
    justify-content: center;
    margin: auto;
  }

.action-button-div{

}

.mat-success {
    background-color: green;
    color: #fff;
  }

.not-dile-warning-div{
  padding-top: 3%;
}