<app-alert-component></app-alert-component>
<div class="component-header-div">
  <button matButton class="new-config-button moving-hover-button" (click)="newHost()">Add New Host</button>
</div>

<div class="expansion-panel-flexbox-container" style="justify-content: center;" >
  @for (hostSystem of hostSystemList; track hostSystem) {
    <div class="flexbox-item">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>
            <div style="display: flex; align-items: center;">
              <span class="mat-card-title-text">{{hostSystem.name}} </span>
              @if (hostSystem.status === hostStatus.available) {
                <span><mat-icon style="padding-left: 50%; color: green;">circle</mat-icon></span>
              } @else {
                @if (hostSystem.status === hostStatus.unavailable) {
                 <span><mat-icon style="padding-left: 50%; color: red;">circle</mat-icon></span>
                }
              }
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="info-row">
            <strong>ID:</strong> <span>{{ hostSystem.id }}</span>
          </div>
          <div class="info-row">
            <strong>Host:</strong> <span>{{ hostSystem.host }}</span>
          </div>
          <div class="info-row">
            <strong>Docker Port:</strong> <span>{{ hostSystem.docker_port }}</span>
          </div>
          <div class="info-row">
            <strong>Status:</strong> <span>{{ hostSystem.status }}</span>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="options-button"   mat-flat-button>Details</button>
          <button class="danger-button"  (click)="removeHost(hostSystem)"  mat-flat-button>Remove</button>
        </mat-card-actions>
      </mat-card>
    </div>
  }
</div>

