:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  font-family: inherit !important;

  }

.action-button{
  margin: 1%;
  border-radius: 20px;
}



.config-button-div{
  margin: auto;
  padding-bottom: 5%;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning {
  animation: spin 3s linear infinite;
}

.new-config-button{
  width: 180px;
  height: 75px;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 16px;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--mat-sys-level3) !important;
  background-color: rgb(255, 255, 255, 0.25);
  border: none;
}
