.anchor {
  text-align: center;
  text-decoration: none;
  color: #FFBF00;
  margin-right: 2%;
  padding: 0.75%;
}

.anchor:hover {
  color: #FFC300;
}

/* Style for the active link */
.active-link {
  color: whitesmoke;
}

.mat-toolbar {
  position: relative;
}
