.anchor {
  text-align: center;
  text-decoration: none;
  color: black;
  margin-right: 2%;
  padding: 0.75%;
  // for the maticon
  display: inline-flex;
  align-items: center;

}

::ng-deep .mat-mdc-menu-panel {
  overflow-x: hidden !important;
}

.navbar-button-div {
  padding: 8px; 
  border-radius: 5px; 
  margin-right: 10px;
}

.navbar-button-div:hover {
  background-color: rgba(255,255,255,0.5);
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.2);

}

.active-div{
    background-color: rgba(255,255,255,0.5);
   box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.2);

}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left {
  display: flex;
  gap: 16px;    
}
.toolbar-icon {
  width: 90px;                      /* adjust size as needed */
  height: 90px;
  padding: 20% 0px 0px 0px;
}
.navbar{

  display: flex;
  justify-content: space-between;  /* left / right spacing */
  align-items: center;
  padding: 0 16px;      

  box-shadow: var(--mat-sys-level3);
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);  /* fully transparent */
  backdrop-filter: blur(12px);               /* optional frosted effect */
  -webkit-backdrop-filter: blur(12px);       /* Safari support */
}


