
.action-button{
  margin: 1%;
  border-radius: 20px;
}



:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.mat-success {
  background-color: green;
  color: #fff;
}


.file-input {
  display: none;
}

.progress-div{
  padding-top: 10%;
}