<app-alert-component></app-alert-component>
<div class="flexbox-container">
  <h2 mat-dialog-title>Create new Configuration</h2>
  <mat-dialog-content>
    <form [formGroup]="configForm">
      <div class="flexbox-item">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput required [formControl]="configForm.controls.name">
        </mat-form-field>
      </div>
      <div class="flexbox-item">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput required [formControl]="configForm.controls.description">
        </mat-form-field>
      </div>
      <div class="flexbox-item">
        <mat-form-field>
          <mat-label>File type</mat-label>
          <mat-select [formControl]="configForm.controls.fileType" required>
            @for (type of fileTypeList; track type) {
              <mat-option value={{type}}>{{type}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <!-- If the upload is a ruleset or configuration -->
      @if (configForm.controls.fileType.value != 'test-data') {
        <div class="flexbox-item">
          <mat-form-field appearance="outline">
            <mat-label>Configuration or Ruleset </mat-label>
            <input matInput [value]="selectedConfigurationFileName" readonly>
            <button matSuffix mat-mini-fab color="primary" class="upload-btn" (click)="configurationFileInput.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
            <input type="file" hidden (change)="onFileSelected($event, 'configuration')" #configurationFileInput [accept]="getAcceptType()">
          </mat-form-field>
          @if (uploadProgress) {
            <div class="flexbox-item progress-div">
              <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
            </div>
          }
        </div>
      }
      <!-- If the upload is a dataset -->
      @if (configForm.controls.fileType.value == 'test-data') {
        <div class="flexbox-item">
          <mat-form-field>
            <mat-label>Dataset type</mat-label>
            <mat-select [formControl]="configForm.controls.datasetTypeId" required>
              @for (type of datasetTypeList; track type) {
                <mat-option value={{type.id}}>{{type.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }
      @if (configForm.controls.fileType.value == 'test-data') {
        <div class="flexbox-item">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Dataset File</mat-label>
              <input matInput [value]="selectedDatasetFileName" readonly>
              <button mat-mini-fab color="primary" class="upload-btn" (click)="datasetFileInput.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
            </mat-form-field>
            <input type="file" hidden (change)="onFileSelected($event, 'dataset')" #datasetFileInput [accept]="getAcceptType()">
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Labels File</mat-label>
              <input matInput [value]="selectedLabelsFileName" readonly>
              <button mat-mini-fab color="primary" class="upload-btn" (click)="labelsFileInput.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
            </mat-form-field>
            <input type="file" hidden (change)="onFileSelected($event, 'labels')" #labelsFileInput [accept]="getAcceptType()">
          </div>
          @if (uploadProgress) {
            <div class="flexbox-item progress-div">
              <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
            </div>
          }
        </div>
      }
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flexbox-item">
    <button class="action-button" mat-flat-button (click)="exit()" color="warn">Close</button>
    <button class="action-button" mat-flat-button (click)="save()" color="success" cdkFocusInitial [disabled]="uploadProgress > 0 && uploadProgress < 100">Save</button>
  </mat-dialog-actions>
</div>

