<div class="flexbox-container">
  <h2 mat-dialog-title>Create new Configuration</h2>
  <mat-dialog-content>
      <form [formGroup]="configForm">
        <div class="flexbox-item">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput required [formControl]="configForm.controls.name">
          </mat-form-field>
        </div>
        <div class="flexbox-item">
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput required [formControl]="configForm.controls.description">
          </mat-form-field>
        </div>
        <div class="flexbox-item">
          <mat-form-field>
            <mat-label>File type</mat-label>
            <mat-select [formControl]="configForm.controls.fileType" required>
              <mat-option *ngFor="let type of fileTypeList" value={{type}}>{{type}}</mat-option>
          </mat-select>
          </mat-form-field>
        </div>
        <div class="flexbox-item">
          <input type="file" class="file-input" required (change)="onFileSelected($event)" #fileUpload [accept]="getAcceptType()" [multiple]="configForm.controls.fileType.value === 'test-data'">
          <p *ngIf="configForm.controls.fileType.value == 'test-data'">Upload pcap file and csv/pcap_ISX file</p>
          <div class="file-upload">
            <ng-container *ngIf="fileNames.length; else noFileText">
              <div *ngFor="let fileName of fileNames">
                {{ fileName }}
              </div>
            </ng-container>
            <ng-template #noFileText>
              No file uploaded yet.
            </ng-template>
            <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <div class="flexbox-item progress-div" *ngIf="uploadProgress">
            <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
          </div>
        </div>
      </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flexbox-item">
      <button class="action-button" mat-flat-button (click)="exit()" color="warn">Close</button>
      <button class="action-button" mat-flat-button (click)="save()" color="success" cdkFocusInitial [disabled]="uploadProgress > 0 && uploadProgress < 100">Save</button>
    </mat-dialog-actions>
</div>

