// Breakpoints
$bp-sm: 48rem; // 768px
$bp-md: 64rem; // 1024px
$bp-lg: 80rem; // 1280px
$bp-xl: 96rem; // 1536px

// Colors (synced with styles.scss)
$success: #1c7a4d;
$danger: #b43c3c;
$options: #b97510;
$submit: #1d678a;
$action: #7a1b22;
