@use '@angular/material' as mat;


:root {

  @include mat.dialog-overrides((container-color: rgba(255, 255, 255, 0.7),
      subhead-weight: 500,
      container-elevation-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.8)));

  @include mat.theme((color: (primary: mat.$red-palette,
      ),
      typography: 'Roboto, sans-serif',
      density: 0,
    ), $overrides: ( // primary: orange,
      // on-primary: 
      // primary-container: 
      // on-primary-container: 
      // inverse-primary: 
      // primary-fixed:
      // primary-fixed-dim: 
      // on-primary-fixed: 
      // on-primary-fixed-variant: 

      secondary: blue,
      // on-secondary: 
      // secondary-container: 
      // on-secondary-container: 
      // secondary-fixed: 
      // secondary-fixed-dim:
      // on-secondary-fixed:
      // on-secondary-fixed-variant: 

      tertiary: blue,
      // on-tertiary:
      // tertiary-container:
      // on-tertiary-container:
      // tertiary-fixed:
      // tertiary-fixed-dim:
      // on-tertiary-fixed:
      // on-tertiary-fixed-variant:
      //background: black,
      // on-background:

      error: darkred,
      warn: red,

      surface: rgba(255, 255, 255, 0.25),
      // surface-dim: white,
      // surface-bright: white,
      surface-container-low: rgba(255, 255, 255, 0.3),
      // surface-container-lowest: white,
      // surface-container: white,
      surface-container: rgba(255, 255, 255, 0.9),
      // surface-container-highest: white,
      // on-surface:
      // shadow:
      // scrim:
      // surface-tint:
      // inverse-surface:
      // inverse-on-surface:
      // outline:
      // outline-variant
      // on-error:
      // error-container:
      // on-error-container:
      // surface-variant:
      // on-surface-variant:
    ));
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  //background: url("./assets/Biceps_logo_plain.svg") no-repeat center bottom;
  background-size: 500px auto;
  background-attachment: scroll;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: radial-gradient(ellipse 110% 110% at 50% 30%, #ffd5d362 60%, #b610109f 80%);
  background-size: 100% 100%;
  animation: pulseBg 6s ease-in-out infinite alternate;
  mix-blend-mode: multiply;
}


@keyframes pulseBg {
  0% {
    background-size: 100% 100%;
  }

  // repeat value to fake a pause when edges are colored
  30% {
    background-size: 100% 100%;
  }

  100% {
    background-size: 130% 130%;
  }
}