<div class="form-dialog-container">
  <h2 mat-dialog-title>Start Analysis / Benchmarking</h2>
  <form [formGroup]="analysisForm" (ngSubmit)="startAnalysis()">
    <mat-dialog-content>
      <div class="form-item">
        <mat-form-field>
          <mat-label>Analysis Type</mat-label>
          <mat-select [formControl]="analysisForm.controls.type" required>
            @for (t of analysisTypes; track t) {
              <mat-option value="{{t}}">{{t}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      @if (analysisForm.controls.type.value == testDataType) {
        <div class="form-item">
          <mat-form-field>
            <mat-label>Dataset</mat-label>
            <mat-select [formControl]="analysisForm.controls.dataset">
              @for (t of data.datasets; track t) {
                <mat-option value="{{t.id}}">ID: {{t.id}} - Name: {{t.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="dialog-actions-div">
        <button type="submit" class="start-button" matFab extended>
          <mat-icon>play_arrow</mat-icon>
          Start Analysis
        </button>
        <button type="button" (click)="exit()" class="cancel-button" matFab>
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>