<app-alert-component></app-alert-component>
<div class="panel-flexbox-div">
  <div class="panel-flexbox-item">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ensembles
        </mat-panel-title>
        <mat-panel-description>
          Overview on current Ensembles
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flexbox-container">
        @for (ensemble of ensembleList; track ensemble) {
          <div class="flexbox-item" class="elevation1">
            <mat-card >
              <mat-card-header>
                <mat-card-title >
                  <div style="display: flex; align-items: center;">
                    <span>{{ensemble.name}}</span>
                    @if (ensemble.status === 'active') {
                      <mat-icon class='spinning' >settings</mat-icon>
                    } @else {
                      @if (ensemble.status === 'idle') {
                        <mat-icon  >pause_circle</mat-icon>
                      }
                    }
                  </div>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content >
                <div>Id: {{ensemble.id}} </div>
                <div>Ensemble technique: {{getEnsembleTechniqueName(ensemble.technique_id)}}</div>
                <div>Description: {{ensemble.description}}</div>
                <div>Status: {{ensemble.status}} </div>
                <div>
                  Containers:
                  {{ getEnsembleContainerNamesFromEnsembleId(ensemble.id) }}
                </div>
                @if (!checkEnsembleContainersAreIdleByEnsembleId(ensemble.id)) {
                  <div class="info-message">
                    Warning: At least one container from this ensemble is not idle. Stop it before trying to analyze the ensemble
                  </div>
                }
              </mat-card-content>
              <mat-card-actions>
                <button (click)="editEnsemble(ensemble)"  class="action-button options-button" mat-flat-button>Edit</button>
                <button (click)="removeEnsemble(ensemble)" color="warn" class="action-button danger-button" mat-flat-button>Remove</button>
                @if (ensembleIsIdle(ensemble) && checkEnsembleContainersAreIdleByEnsembleId(ensemble.id)) {
                  <button (click)="startEnsembleAnalysis(ensemble)"  class="action-button success-button" mat-flat-button>Start Analysis</button>
                }
                @if (!ensembleIsIdle(ensemble)) {
                  <button (click)="stopEnsembleAnalysis(ensemble)" color="warn" class="action-button danger-button" mat-flat-button>Stop Analysis</button>
                }
              </mat-card-actions>
            </mat-card>
          </div>
        }
      </div>

    </mat-expansion-panel>
  </div>
  <div class="panel-flexbox-item">
    <mat-expansion-panel class="panel-flexbox-item">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Containers
        </mat-panel-title>
        <mat-panel-description>
          Overview on current Containers
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flexbox-container">
        @for (container of containerList; track container) {
          <div class="flexbox-item" class="elevation1"  [ngClass]="{'container-setting-up-status': containerIsSettingUp(container)}">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{container.name}}
                  @if (container.status === 'active') {
                    <mat-icon class='spinning' style="color: orange" >settings</mat-icon>
                  }
                  @if (container.status === 'idle') {
                    <mat-icon style="color: orangered" >pause_circle</mat-icon>
                  }
                </mat-card-title>
              </mat-card-header>
              <mat-card-content >
                <div>ID: {{container.id}}</div>
                <div>Host: {{getHostName(container.host_system_id)}}</div>
                <div>Port: {{container.port}}</div>
                <div>IDS Tool: {{getIdsToolName(container.ids_tool_id)}}</div>
                <div>Configuration: {{getConfigName(container.configuration_id)}}</div>
                @if (container.ruleset_id) {
                  <div>Ruleset: {{getConfigName(container.ruleset_id)}}</div>
                }
                <div>Description: {{container.description}}</div>
                <div>Status: {{container.status}}</div>
                @if (!container.ruleset_id) {
                  <div></div>
                  }<br>
                  @if (containerIsSettingUp(container)) {
                    <div class="info-message">Info: Container Image is getting pulled, please wait</div>
                  }
                </mat-card-content>
                <mat-card-actions>
                  <button (click)="edit(container)"  class="action-button options-button" mat-flat-button>Edit</button>
                  <button (click)="remove(container)" class="action-button danger-button" mat-flat-button>Remove</button>
                  @if (containerIsIdle(container)) {
                    <button matFab extended (click)="startAnalysis(container)"  class="action-button success-button" mat-flat-button>
                      <mat-icon>play_arrow</mat-icon>
                      Start Analysis
                    </button>
                  }
                  @if (containerIsActive(container)) {
                    <button (click)="stop_analysis(container)" class="action-button danger-button" mat-flat-button>Stop Analysis</button>
                  }
                </mat-card-actions>
              </mat-card>
            </div>
          }
        </div>
      </mat-expansion-panel>
    </div>
  </div>
