.grid-container{
    display: grid;
    row-gap: 7%;
    column-gap: 5%;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: auto
}

.grid-item {
    justify-content: center;
    padding: 5%;
    margin: 5%;
  }


.action-button{
  margin: 1%;
  border-radius: 20px;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.panel-grid-div{
  display: grid;
  grid-template-columns: auto;
  row-gap: 5%;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.panel-grid-item{
  margin: 10%;
  padding: 2%;
  width: 100%;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning {
  animation: spin 3s linear infinite;
}