<div class="panel-grid-div">

    <mat-expansion-panel class="panel-grid-item">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ensembles
            </mat-panel-title>
            <mat-panel-description>
                Overview on current Ensembles
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="grid-container">
            <div class="grid-item" *ngFor="let ensemble of ensembleList" class="mat-elevation-z8">
                <mat-card >
                    <mat-card-header>
                        <mat-card-title >
                            {{ensemble.name}}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content >
                            <div>Id: {{ensemble.id}} </div>
                            <div>Ensemble technique: {{getEnsembleTechniqueName(ensemble.technique_id)}}</div>
                            <div>Description: {{ensemble.description}}</div>
                            <div>Status: {{ensemble.status}} </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button (click)="editEnsemble(ensemble)" color="primary" class="action-button mat-elevation-z8" mat-flat-button>Edit</button>	
                        <button (click)="removeEnsemble(ensemble)" color="warn" class="action-button mat-elevation-z8" mat-flat-button>Remove</button>	
                        <button (click)="startEnsembleAnalysis(ensemble)" color="accent" class="action-button mat-elevation-z8" mat-flat-button>Start Analysis</button>	
                        <button *ngIf="ensemble.status == activeStatus" (click)="stopEnsembleAnalysis(ensemble)" color="warn" class="action-button mat-elevation-z8" mat-flat-button>Stop Analysis</button>	
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        
    </mat-expansion-panel>

<mat-expansion-panel class="panel-grid-item">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Containers
            </mat-panel-title>
            <mat-panel-description>
                Overview on current Containers
            </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="grid-container">
        <div class="grid-item" *ngFor="let container of containerList" class="mat-elevation-z8">
            <mat-card >
                <mat-card-header>
                    <mat-card-title >
                        {{container.name}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content >
                        <div>Host: {{container.host}}</div>
                        <div>Port: {{container.port}}</div>
                        <div>IDS Tool: {{getIdsToolName(container.ids_tool_id)}}</div>
                        <div>Configuration: {{getConfigName(container.configuration_id)}}</div>
                        <div *ngIf="container.ruleset_id">Ruleset: {{getConfigName(container.ruleset_id)}}</div>
                        <div>Description: {{container.description}}</div>
                        <div>Status: {{container.status}} </div>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="edit(container)" color="primary" class="action-button mat-elevation-z8" mat-flat-button>Edit</button>	
                    <button (click)="remove(container)" color="warn" class="action-button mat-elevation-z8" mat-flat-button>Remove</button>	
                    <button (click)="startAnalysis(container)" color="accent" class="action-button mat-elevation-z8" mat-flat-button>Start Analysis</button>	
                    <button *ngIf="container.status == activeStatus" (click)="stopAnalysis(container)" color="warn" class="action-button mat-elevation-z8" mat-flat-button>Stop Analysis</button>	
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</mat-expansion-panel>


</div>
